<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uin.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.uin.domain.SysRole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="description" property="description" />
        <result column="create_by" property="createBy" />
        <result column="modify_by" property="modifyBy" />
        <result column="status" property="status" />
        <result column="created" property="created" />
        <result column="last_update_time" property="lastUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, description, create_by, modify_by, status, created, last_update_time
    </sql>
  <select id="getUserRoleCode" resultType="java.lang.String">
    select t1.code
    from sys_role t1
           left join sys_user_role t2 on t1.id = t2.role_id
    where t2.user_id = #{userId}
  </select>

</mapper>
